.glassesViewList {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 ));
}

.glassesViewList .glassesViewListItem {
  border-right: 1px solid;
}
.glassesViewList .glassesViewListItem:nth-child(3n) {
  border-right: 0;
}

@media (max-width: 1318.9px) and (min-width: 700px) {
  .glassesViewList {
    grid-template-columns: 50% 50%;
  }

  .glassesViewList .glassesViewListItem:nth-child(even) {
    border-right: 0;
  }
}
@media (max-width: 719.9px) {
  .glassesViewList {
    grid-template-columns: 100%;
  }
  
.glassesViewList .glassesViewListItem {
  border-right: 0;
}
}
